:host {
    display: block;
    z-index: 0;
    position: absolute;
}

.bg {
    background-image: url("../../assets/pictures/asset1.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;

    .row {
        display: flex;
        flex-direction: row-reverse;

        .header {
            position: relative;
            top: 20vh;
            color: white;
            text-align: right;
            line-height: 72px;
            padding: 40px;
            width: 50vh;
            height: 90vh;
        }

        .title {
            position: relative;
        }

        .name {
            font-size: 72px;
            white-space: pre-line;
        }
        
        .sub-title {
            font-size: 20px;
            padding-bottom: 20px;
            white-space: nowrap;
            border-bottom: 1px solid rgba(255, 255, 255 ,0.5);
        }

        &.body {
            flex-direction: column;
            padding: 0 20vh; 
            
            .content {
                display: table;
                flex-direction: row;

                .sub-header {
                    width: 50vh;
                    display: table-cell;
                    height: 50vh;
                    vertical-align: middle;
                    flex: 30%;
                    text-align: center;
                    margin: auto;
                }
    
                .description {
                    display: table-cell;
                    height: 50vh;
                    vertical-align: middle;
                    flex: 70%;
                    text-align: left;
                    margin: auto;
                }
            }
        }
        
    }
}

